<aside>
	<div class="panel radius" style="padding: 10px">
		{% comment %}
		<iframe src="https://portal.ogc.org/public_ogc/compliance/srv_ogc_compliance_badge2.php?id=42&pid=1779&size=33"
			height="420"
			scrolling="no"
			frameborder="0">No iframes</iframe>
		<iframe src="https://portal.ogc.org/public_ogc/compliance/srv_ogc_compliance_badge2.php?id=42&pid=1736&size=33"
			height="250"
			scrolling="no"
			frameborder="0">No iframes</iframe>
		{% endcomment %}
		<iframe src="https://portal.ogc.org/public_ogc/compliance/srv_ogc_compliance_badge2.php?id=42&size=36"
			height="585"
			scrolling="no"
			frameborder="0">No iframes</iframe>
	</div>

	{% comment %}
	<div class="panel radius">
			<div id="twitterFeeddisplay" class="">
				{% comment %}
					<a class="twitter-timeline" data-theme="light" data-chrome="nofooter noscrollbar " href="https://twitter.com/deegree_org" data-widget-id="530321778745151488" width="200" height="350">Tweets by @deegree_org</a>
				<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
				{% endcomment %}
				<a class="twitter-timeline" href="https://twitter.com/deegree_org?ref_src=twsrc%5Etfw" data-chrome="noborders">Tweets by deegree_org</a> 1!<br/>
				<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
			</div>
	</div>
	{% endcomment %}
</aside>