<aside>
	<div class="panel radius">
		{% comment %}
		<a href="https://portal.opengeospatial.org/public_ogc/compliance/srv_ogc_compliance_badge.php?id=42&amp;pid=1351&amp;width=auto" target="_blank" rel="noopener noreferrer">
			<img src="{{ site.urlimg }}certified_ogc_compliant_badge.png" alt="certified OGC compliant badge">
		</a>
		{% endcomment %}
		<iframe src="https://portal.opengeospatial.org/public_ogc/compliance/srv_ogc_compliance_badge.php?id=42&amp;pid=1351&amp;size=33"
			height="400"
			scrolling="no"
			frameborder="0">No iframes</iframe>
	</div>

	<div class="panel radius">
			<div id="twitterFeeddisplay" class="">
					<a class="twitter-timeline" data-theme="light" data-chrome="nofooter noscrollbar " href="https://twitter.com/deegree_org" data-widget-id="530321778745151488" width="200" height="350">Tweets by @deegree_org</a>
				<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
			</div>				
	</div>
</aside>